extends layout

block content

  h1 Your Achievement Progress
  div#add-hours
    label(for="input-date") Date
    input(type="date" id="input-date" name="input-date")
    label(for="input-hours") Hours
    input(type="text" id="input-hours" name="input-hours")
    input(type="button" id="submit" value="Submit")

  #chart

  script.
    var achievement = !{JSON.stringify(achievement)};
    var updates = achievement.updates;
    var chart = {}; 
    var series = [];
    if(updates) {
      var max = updates.length;
      var totalHours = 0;
      for(var i = 0; i < max; i++) {
        var entry = updates[i];
        totalHours = totalHours + entry[1];
        series.push([entry[0], totalHours]);
      }

      chart = new Highcharts.Chart({
        chart: {
          renderTo: $("#chart")[0],
          type: 'area'
        },
        title:{
          text: achievement.name
        },
        xAxis: {
          type: 'datetime',
          tickInterval: 2 * 7 * 24 * 3600 * 1000, // two weeks
          tickWidth: 0,
          gridLineWidth: 1,
          labels: {
            align: 'left',
            x: -15,
            y: 10
          }
        },
        series: [{
          data: series
        }]
      });
    }

    function update() {
      $.ajax({
        url: "/achievementStats/" + achievement._id,
        method: "PUT",
        beforeSend: chart.showLoading(),
        data: {
          date: Date.parse($("#input-date").val() + ' UTC'),
          hours: $("#input-hours").val()
        }
      })
      .done(function(data) {
        totalHours = 0;
        updates.push(data);
        updates.sort(function(a, b) {
          //guard against nulls or undefined in the array
          if(a && b) {
            return a[0] - b[0];
          }
        });
        var newSeries = [];
        for(var i = 0; i < updates.length; i++) {
          var entry = updates[i];
          totalHours = totalHours + entry[1];
          newSeries.push([entry[0], totalHours]);
        }
        chart.series[0].setData(newSeries);
      })
      .always(function() { 
        chart.hideLoading() 
      });    
    }

    $('#submit').click(update);
