extends layout

block content
  h1 Your Achievement Progress
  div#add-hours
    label(for="input-date") Date
    input(type="date" id="input-date" name="input-date")
    label(for="input-hours") Hours
    input(type="text" id="input-hours" name="input-hours")
    input(type="button" id="submit" value="Submit")

  #chart
  script var achievement = !{JSON.stringify(achievement)}; //little hack to get the imported script to work
  script(src='/javascripts/chart.js')