doctype 5
html
  head
    title= title
    script(src="http://code.jquery.com/jquery-1.10.1.min.js")
    script(src="http://code.jquery.com/jquery-migrate-1.2.1.min.js")

    link(href="/stylesheets/style.css", rel="stylesheet")

    link(href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css", rel="stylesheet")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js")

    script(src="http://code.highcharts.com/highcharts.js")
    
  body
    header(class="navbar navbar-fixed-top navbar-inverse" role="banner")
      .container
        div(class="navbar-header")
          a(class="navbar-brand" href="/") TenThousand
    #content
      div.container
        block content